
@{
    ViewBag.Title = "ClientManager";
}

<h2>ClientManager</h2>
<a href="@Url.Action("RemovedClient","Home")">Show Removed Client</a>
<br />
<br />
<hr />
<div>
    @using (Html.BeginForm("Search", "Home"))
    {
        @Html.ValidationSummary();
        @Html.TextBox("Name")
        <input type="submit" value="Serach Client Informations" />
    }
    <br />
    <br />
    <a href="@Url.Action("AddClient","Home")">Add Client</a>
    <br />
    <br />
</div>
<div style="float:right">
    <h2>My Clients</h2>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("ClientInfo", "Home", new { id = item.Id })">@item.Name </a>

        <a href="@Url.Action("DeleteClient","Home", new { id = item.Id})">Delete</a>
        <br />
    }
</div>

